html,
body {
    padding: 0;
    margin: 0;
}

/*this is for mobile phone phase*/
@media only screen and (max-device-width:500px) and (-webkit-min-device-pixel-ratio:2) {
    body {
        background-color: blue;
    }

    .hero {
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: -1;
        height: 100vh;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.700);
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
    }

    header {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    #navLinks li {
        margin-bottom: 30px;
    }


    #navLinks li a {
        color: white;
        margin-left: 30px;
        font-size: 30px;
    }

    .logo {
        color: white;
        background-image: url(logo-3d-png-9039.png);
        object-fit: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: aqua;
    }

    #hamburger {
        color: white;
        cursor: pointer;
        font-size: 60px;
        margin-right: 20px;
        display: block;
    }

    #navLinks {

        list-style: none;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 15vh;
        right: 5%;
        z-index: 1;

    }

    #navLinks.show {
        display: flex;
    }

    .vid {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        z-index: 1;
    }
}

/*this is for mobile tablet phase*/
@media only screen and (min-device-width:501px) and (max-device-width:900px) and (-webkit-min-device-pixel-ratio:2) {
    body {
        background-color: rgb(182, 5, 35);
    }

    .hero {
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: -1;
        height: 100vh;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.700);
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
    }

    header {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    #navLinks li {
        margin-bottom: 30px;
    }


    #navLinks li a {
        color: white;
        margin-left: 30px;
        font-size: 30px;
    }

    .logo {
        color: white;
        background-image: url(logo-3d-png-9039.png);
        object-fit: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: aqua;
    }

    #hamburger {
        color: white;
        cursor: pointer;
        font-size: 60px;
        margin-right: 20px;
        display: block;
    }

    #navLinks {

        list-style: none;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 15vh;
        right: 5%;
        z-index: 1;

    }

    #navLinks.show {
        display: flex;
    }

    .vid {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        z-index: 1;
    }


}

/*this is for destop phase*/
@media only screen and (min-device-width:901px) and (-webkit-min-device-pixel-ratio:1) {

    .hero {
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: -1;
        height: 100vh;
    }

    .layer {
        background-color: rgba(0, 0, 0, 0.500);
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
    }

    header {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }

    header nav ul {
        list-style: none;
        display: flex;
        cursor: pointer;
    }

    header nav ul li {}

    header nav ul li a {
        color: white;
        margin-left: 50px;
        font-size: 30px;
    }

    .logo {
        color: white;
        background-image: url(logo-3d-png-9039.png);
        object-fit: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: aqua;
    }

    #hamburger {
        color: white;
        display: none;
    }

    .navBar {
        position: relative;
        overflow: hidden;
    }

    .vid {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        z-index: 1;
    }
}